In [2]:
import pandas as pd

In [17]:
s1 = pd.Series([5,20,30,35,60])

In [18]:
s1

0     5
1    20
2    30
3    35
4    60
dtype: int64

In [26]:
s2 = pd.Series([5,20,30,35,60],index='a b c d e'.split())

In [27]:
s2

a     5
b    20
c    30
d    35
e    60
dtype: int64

In [28]:
s2['a']

5

In [35]:
s1[4]

60

In [41]:
s2[:'b']

a     5
b    20
dtype: int64

In [42]:
s2['b':]

b    20
c    30
d    35
e    60
dtype: int64

In [45]:
for index , value in s2.items():
    print(index,value)

a 5
b 20
c 30
d 35
e 60

In [46]:
s2.sum()

150

In [47]:
s2.max()

60

In [48]:
s2.min()

5

In [49]:
s2.mean()

30.0

In [4]:
import numpy as np

In [118]:
np.random.seed(1)
df = pd.DataFrame(np.random.randint(1,100,[5,4]),
                 index = 'a b c d e'.split(),
                 columns = 'w x y age'.split())

In [119]:
df

    w   x   y  age
a  38  13  73   10
b  76   6  80   65
c  17   2  77   72
d   7  26  51   21
e  19  85  12   29

In [79]:
df['w']

a    38
b    76
c    17
d     7
e    19
Name: w, dtype: int32

In [82]:
df.loc['a']

w    38
x    13
y    73
z    10
Name: a, dtype: int32

In [83]:
df.w

a    38
b    76
c    17
d     7
e    19
Name: w, dtype: int32

In [85]:
df.iloc[0]

w    38
x    13
y    73
z    10
Name: a, dtype: int32

In [90]:
df[['w','x']]

    w   x
a  38  13
b  76   6
c  17   2
d   7  26
e  19  85

In [92]:
df.loc[['a','e']]

    w   x   y   z
a  38  13  73  10
e  19  85  12  29

In [97]:
df['c':]

    w   x   y   z
c  17   2  77  72
d   7  26  51  21
e  19  85  12  29

In [107]:
df.loc['a':'c' , ['w','x','z']]

    w   x   z
a  38  13  10
b  76   6  65
c  17   2  72

In [108]:
df

    w   x   y   z
a  38  13  73  10
b  76   6  80  65
c  17   2  77  72
d   7  26  51  21
e  19  85  12  29

In [109]:
for index , row in df.iterrows() :
    for i , value in row.items() :
        print(value)

38
13
73
10
76
6
80
65
17
2
77
72
7
26
51
21
19
85
12
29

In [110]:
df.columns

Index(['w', 'x', 'y', 'z'], dtype='object')

In [112]:
df.rpow

<bound method DataFrame.rpow of     w   x   y   z
a  38  13  73  10
b  76   6  80  65
c  17   2  77  72
d   7  26  51  21
e  19  85  12  29>

In [113]:
df>50

       w      x      y      z
a  False  False   True  False
b   True  False   True   True
c  False  False   True   True
d  False  False   True  False
e  False   True  False  False

In [120]:
df[df>50]

      w     x     y   age
a   NaN   NaN  73.0   NaN
b  76.0   NaN  80.0  65.0
c   NaN   NaN  77.0  72.0
d   NaN   NaN  51.0   NaN
e   NaN  85.0   NaN   NaN

In [128]:
df[df['age']>50].loc['b']

w      76
x       6
y      80
age    65
Name: b, dtype: int32

In [126]:
df

    w   x   y  age
a  38  13  73   10
b  76   6  80   65
c  17   2  77   72
d   7  26  51   21
e  19  85  12   29

In [5]:
df = pd.read_csv('lab4 Sample - Superstore.csv', encoding='ISO-8859-1')

In [6]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [23]:
df.head(7)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,7,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656

In [24]:
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [26]:
df.iloc[0]

Row ID                                           1
Order ID                            CA-2016-152156
Order Date                               11/8/2016
Ship Date                               11/11/2016
Ship Mode                             Second Class
Customer ID                               CG-12520
Customer Name                          Claire Gute
Segment                                   Consumer
Country                              United States
City                                     Henderson
State                                     Kentucky
Postal Code                                  42420
Region                                       South
Product ID                         FUR-BO-10001798
Category                                 Furniture
Sub-Category                             Bookcases
Product Name     Bush Somerset Collection Bookcase
Sales                                       261.96
Quantity                                         2
Discount                                       0.0
Profit                                     41.9136
Name: 0, dtype: object

In [37]:
df.groupby('Ship Mode').sum()

,Row ID,Order ID,Order Date,Ship Date,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Ship Mode,,,,,,,,,,,,,,,,,,,,
First Class,7498535,CA-2016-117590CA-2016-117590CA-2016-118255CA-2...,12/8/201612/8/20163/11/20163/11/20166/17/20166...,12/10/201612/10/20163/13/20163/13/20166/18/201...,GH-14485GH-14485ON-18715ON-18715TB-21055TB-210...,Gene HaleGene HaleOdella NelsonOdella NelsonTe...,CorporateCorporateCorporateCorporateConsumerCo...,United StatesUnited StatesUnited StatesUnited ...,RichardsonRichardsonEaganEaganTroyTroyTroyTroy...,TexasTexasMinnesotaMinnesotaNew YorkNew YorkNe...,84229511,CentralCentralCentralCentralEastEastEastEastEa...,TEC-PH-10004977FUR-FU-10003664TEC-AC-10000171O...,TechnologyFurnitureTechnologyOffice SuppliesOf...,PhonesFurnishingsAccessoriesBindersStoragePape...,GE 30524EE4Electrix Architect's Clamp-On Swing...,3.514284e+05,5693,253.17,48969.8399
Same Day,2784998,CA-2016-155516CA-2016-155516CA-2016-155516CA-2...,10/21/201610/21/201610/21/201610/21/20169/19/2...,10/21/201610/21/201610/21/201610/21/20169/19/2...,MK-17905MK-17905MK-17905MK-17905EH-14125EH-141...,Michael KennedyMichael KennedyMichael KennedyM...,CorporateCorporateCorporateCorporateHome Offic...,United StatesUnited StatesUnited StatesUnited ...,ManchesterManchesterManchesterManchesterAurora...,ConnecticutConnecticutConnecticutConnecticutIl...,31242093,EastEastEastEastCentralCentralSouthSouthSouthW...,OFF-BI-10002412OFF-SU-10001225OFF-ST-10002406F...,Office SuppliesOffice SuppliesOffice SuppliesF...,BindersSuppliesStorageBookcasesChairsBindersFa...,Wilson Jones ?Snap? Scratch Pad Binder Tool fo...,1.283631e+05,1960,82.75,15891.7589
Second Class,9601997,CA-2016-152156CA-2016-152156CA-2016-138688CA-2...,11/8/201611/8/20166/12/20165/13/20148/27/20148...,11/11/201611/11/20166/16/20165/15/20149/1/2014...,CG-12520CG-12520DV-13045AG-10270ZD-21925ZD-219...,Claire GuteClaire GuteDarrin Van HuffAlejandro...,ConsumerConsumerCorporateConsumerConsumerConsu...,United StatesUnited StatesUnited StatesUnited ...,HendersonHendersonLos AngelesWest JordanSan Fr...,KentuckyKentuckyCaliforniaUtahCaliforniaCalifo...,108192588,SouthSouthWestWestWestWestWestEastWestWestCent...,FUR-BO-10001798FUR-CH-10000454OFF-LA-10000240O...,FurnitureFurnitureOffice SuppliesOffice Suppli...,BookcasesChairsLabelsStorageArtPhonesBindersCh...,Bush Somerset Collection BookcaseHon Deluxe Fa...,4.591936e+05,7423,270.15,57446.6354
Standard Class,30059485,US-2015-108966US-2015-108966CA-2014-115812CA-2...,10/11/201510/11/20156/9/20146/9/20146/9/20146/...,10/18/201510/18/20156/14/20146/14/20146/14/201...,SO-20335SO-20335BH-11710BH-11710BH-11710BH-117...,Sean O'DonnellSean O'DonnellBrosina HoffmanBro...,ConsumerConsumerConsumerConsumerConsumerConsum...,United StatesUnited StatesUnited StatesUnited ...,Fort LauderdaleFort LauderdaleLos AngelesLos A...,FloridaFloridaCaliforniaCaliforniaCaliforniaCa...,327908460,SouthSouthWestWestWestWestWestWestWestSouthWes...,FUR-TA-10000577OFF-ST-10000760FUR-FU-10001487O...,FurnitureOffice SuppliesFurnitureOffice Suppli...,TablesStorageFurnishingsArtPhonesBindersApplia...,Bretford CR4500 Series Slim Rectangular TableE...,1.358216e+06,22797,955.02,164088.7875

In [39]:
df.groupby('Ship Mode')['Quantity'].describe()

                 count      mean       std  min  25%  50%  75%   max
Ship Mode
First Class     1538.0  3.701560  2.119098  1.0  2.0  3.0  5.0  14.0
Same Day         543.0  3.609576  2.129233  1.0  2.0  3.0  5.0  14.0
Second Class    1945.0  3.816452  2.263673  1.0  2.0  3.0  5.0  14.0
Standard Class  5968.0  3.819873  2.246699  1.0  2.0  3.0  5.0  14.0

In [41]:
df['Sales'].max()

22638.48

In [53]:
df['Sales']==df['Sales'].max()

0       False
1       False
2       False
3       False
4       False
        ...
9989    False
9990    False
9991    False
9992    False
9993    False
Name: Sales, Length: 9994, dtype: bool

In [54]:
df[df['Sales']==df['Sales'].max() ]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2697,2698,CA-2014-145317,3/18/2014,3/23/2014,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.48,6,0.5,-1811.0784

In [57]:
def fn(x) :
    return x**2

In [58]:
fn(5)

25

In [63]:
df['Sales'].apply(fn)

0        68623.041600
1       535736.163600
2          213.744400
3       916954.668506
4          500.327424
            ...
9989       637.461504
9990      8456.641600
9991     66861.547776
9992       876.160000
9993     59126.785600
Name: Sales, Length: 9994, dtype: float64

In [62]:
fn = lambda x:x**2

In [64]:
df['Sales'].apply(lambda x:x/10)

0       26.19600
1       73.19400
2        1.46200
3       95.75775
4        2.23680
          ...
9989     2.52480
9990     9.19600
9991    25.85760
9992     2.96000
9993    24.31600
Name: Sales, Length: 9994, dtype: float64

In [66]:
df['Sales'].apply(lambda x:x*10 if x>0 else x/10)

0       2619.600
1       7319.400
2        146.200
3       9575.775
4        223.680
          ...
9989     252.480
9990     919.600
9991    2585.760
9992     296.000
9993    2431.600
Name: Sales, Length: 9994, dtype: float64

In [73]:
df[df['Sales'].apply(lambda x: (x - np.floor(x)) == 0)]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
47,48,CA-2016-169194,6/20/2016,6/25/2016,Standard Class,LH-16900,Lena Hernandez,Consumer,United States,Dover,...,19901,East,TEC-AC-10002167,Technology,Accessories,ImationÃ¿8gb Micro Traveldrive Usb 2.0Ã¿Flash Drive,45.0,3,0.0,4.950
59,60,CA-2016-111682,6/17/2016,6/18/2016,First Class,TB-21055,Ted Butterfield,Consumer,United States,Troy,...,12180,East,TEC-AC-10002167,Technology,Accessories,ImationÃ¿8gb Micro Traveldrive Usb 2.0Ã¿Flash Drive,30.0,2,0.0,3.300
184,185,CA-2014-158274,11/19/2014,11/24/2014,Second Class,RM-19675,Robert Marley,Home Office,United States,Monroe,...,71203,South,TEC-AC-10002345,Technology,Accessories,HP Standard 104 key PS/2 Keyboard,29.0,2,0.0,7.250
215,216,CA-2015-146262,1/2/2015,1/9/2015,Standard Class,VW-21775,Victoria Wilson,Corporate,United States,Medina,...,44256,East,TEC-MA-10000864,Technology,Machines,Cisco 9971 IP Video Phone Charcoal,1188.0,9,0.7,-950.400
320,321,CA-2014-164973,11/4/2014,11/9/2014,Standard Class,NM-18445,Nathan Mautz,Home Office,United States,New York City,...,10024,East,TEC-AC-10000892,Technology,Accessories,NETGEAR N750 Dual Band Wi-Fi Gigabit Router,360.0,4,0.0,129.600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9633,9634,CA-2014-151330,10/14/2014,10/17/2014,First Class,TC-21295,Toby Carlisle,Consumer,United States,Everett,...,2149,East,TEC-AC-10000865,Technology,Accessories,WD My Passport Ultra 500GB Portable External H...,177.0,3,0.0,30.090
9671,9672,US-2017-140312,11/13/2017,11/19/2017,Standard Class,KL-16645,Ken Lonsdale,Consumer,United States,Dublin,...,94568,West,TEC-PH-10003442,Technology,Phones,Samsung Replacement EH64AVFWE Premium Headset,22.0,5,0.2,1.375
9819,9820,CA-2015-162201,6/8/2015,6/12/2015,Standard Class,AG-10495,Andrew Gjertsen,Corporate,United States,Saint Petersburg,...,33710,South,OFF-LA-10001982,Office Supplies,Labels,Smead Alpha-Z Color-Coded Name Labels First Le...,9.0,3,0.2,3.150
9834,9835,CA-2016-126627,10/10/2016,10/12/2016,First Class,WB-21850,William Brown,Consumer,United States,La Porte,...,77571,Central,FUR-FU-10004963,Furniture,Furnishings,"Eldon 400 Class Desk Accessories, Black Carbon",14.0,4,0.6,-6.300
9960,9961,CA-2017-141446,9/16/2017,9/18/2017,Second Class,CL-12700,Craig Leslie,Home Office,United States,Florence,...,41042,South,TEC-AC-10002305,Technology,Accessories,KeyTronicÃ¿E03601U1 -Ã¿KeyboardÃ¿- Beige,18.0,1,0.0,3.240

In [105]:
df[df['Product Name'].apply(lambda x: 'collection' in x.lower() )]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
95,96,US-2017-109484,11/6/2017,11/12/2017,Standard Class,RB-19705,Roger Barcio,Home Office,United States,Portland,...,97206,West,OFF-BI-10004738,Office Supplies,Binders,Flexible Leather- Look Classic Collection Ring...,5.6820,1,0.70,-3.7880
231,232,US-2017-100930,4/7/2017,4/12/2017,Standard Class,CS-12400,Christopher Schild,Home Office,United States,Tampa,...,33614,South,FUR-TA-10001705,Furniture,Tables,Bush Advantage Collection Round Conference Table,233.8600,2,0.45,-102.0480
272,273,CA-2015-155334,7/30/2015,7/31/2015,First Class,HA-14920,Helen Andreada,Consumer,United States,San Francisco,...,94109,West,FUR-FU-10003274,Furniture,Furnishings,Regeneration Desk Collection,5.2800,3,0.00,2.3232
292,293,CA-2016-110772,11/20/2016,11/24/2016,Second Class,NZ-18565,Nick Zandusky,Home Office,United States,Columbus,...,43229,East,FUR-BO-10004709,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",86.9700,3,0.50,-48.7032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9334,9335,CA-2017-110198,5/1/2017,5/2/2017,First Class,AG-10900,Arthur Gainer,Consumer,United States,Coral Springs,...,33065,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,314.3520,3,0.20,-15.7176
9484,9485,CA-2016-164770,12/2/2016,12/4/2016,Second Class,MY-18295,Muhammed Yedwab,Corporate,United States,Houston,...,77036,Central,FUR-BO-10003893,Furniture,Bookcases,Sauder Camden County Collection Library,781.8640,10,0.32,-137.9760
9637,9638,CA-2014-124702,11/18/2014,11/25/2014,Standard Class,MH-17785,Maya Herman,Corporate,United States,Seattle,...,98105,West,FUR-TA-10003008,Furniture,Tables,"Lesro Round Back Collection Coffee Table, End ...",730.2000,4,0.00,94.9260
9857,9858,CA-2015-164301,3/26/2015,3/30/2015,Standard Class,EB-13840,Ellis Ballard,Corporate,United States,Seattle,...,98103,West,FUR-TA-10001889,Furniture,Tables,Bush Advantage Collection Racetrack Conference...,3393.6800,8,0.00,610.8624
9962,9963,CA-2015-168088,3/19/2015,3/22/2015,First Class,CM-12655,Corinna Mitchell,Home Office,United States,Houston,...,77041,Central,FUR-BO-10004218,Furniture,Bookcases,Bush Heritage Pine Collection 5-Shelf Bookcase...,383.4656,4,0.32,-67.6704

In [91]:
df['Category'].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [92]:
df['Category'].nunique()

3

In [94]:
df['Category'].value_counts()

Category
Office Supplies    6026
Furniture          2121
Technology         1847
Name: count, dtype: int64

In [103]:
    df.groupby('Category')['City'].count().sort_values(ascending = False)

Category
Office Supplies    6026
Furniture          2121
Technology         1847
Name: City, dtype: int64