In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from mlxtend.frequent_patterns import apriori , association_rules

In [3]:
raw_data = pd.read_excel('./data/MarketBasketOptimization.xlsx',header = None)
#openpyxl

In [4]:
raw_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dataset = []
for i in range(0 , len(raw_data)):
    tmp = []
    for j in range(0 , len(raw_data.loc[i])) :
        if raw_data.loc[i,j] is not np.nan :
            tmp.append(raw_data.loc[i,j])
    dataset.append(tmp)

In [6]:
dataset[3]

['turkey', 'avocado']

In [7]:
from mlxtend.preprocessing import TransactionEncoder
TE = TransactionEncoder()
tmp_dataset = TE.fit_transform(dataset)

In [8]:
tmp_dataset

array([[False,  True,  True, ...,  True, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False]], shape=(7501, 120))

In [9]:
df = pd.DataFrame(tmp_dataset , columns = TE.columns_)
df.head(2)

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
itemset = apriori(df.drop('mineral water',axis=1), min_support=0.01, use_colnames=True )
itemset

      support                                  itemsets
0    0.020397                      frozenset({almonds})
1    0.033329                      frozenset({avocado})
2    0.010799               frozenset({barbecue sauce})
3    0.014265                    frozenset({black tea})
4    0.011465                   frozenset({body spray})
..        ...                                       ...
206  0.020931          frozenset({tomatoes, spaghetti})
207  0.016531            frozenset({turkey, spaghetti})
208  0.014131  frozenset({whole wheat rice, spaghetti})
209  0.010532   frozenset({chocolate, eggs, spaghetti})
210  0.010932   frozenset({milk, chocolate, spaghetti})

[211 rows x 2 columns]

In [16]:
rule = association_rules( itemset , metric='confidence', min_threshold=0.30 )
rule

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,frozenset({burgers}),frozenset({eggs}),0.087188,0.179709,0.028796,0.330275,1.837830,1.0,0.013128,1.224818,0.499424,0.120941,0.183552,0.245256
1,frozenset({cooking oil}),frozenset({spaghetti}),0.051060,0.174110,0.015865,0.310705,1.784531,1.0,0.006975,1.198166,0.463284,0.075796,0.165391,0.200911
2,frozenset({turkey}),frozenset({eggs}),0.062525,0.179709,0.019464,0.311301,1.732245,1.0,0.008228,1.191072,0.450907,0.087373,0.160420,0.209805
3,frozenset({grated cheese}),frozenset({spaghetti}),0.052393,0.174110,0.016531,0.315522,1.812196,1.0,0.007409,1.206597,0.472963,0.078730,0.171223,0.205234
4,frozenset({herb & pepper}),frozenset({ground beef}),0.049460,0.098254,0.015998,0.323450,3.291994,1.0,0.011138,1.332860,0.732460,0.121457,0.249734,0.243136
5,frozenset({ground beef}),frozenset({spaghetti}),0.098254,0.174110,0.039195,0.398915,2.291162,1.0,0.022088,1.373997,0.624943,0.168096,0.272197,0.312015
6,frozenset({herb & pepper}),frozenset({spaghetti}),0.049460,0.174110,0.016264,0.328841,1.888695,1.0,0.007653,1.230543,0.495018,0.078457,0.187350,0.211128
7,frozenset({soup}),frozenset({milk}),0.050527,0.129583,0.015198,0.300792,2.321232,1.0,0.008651,1.244861,0.599484,0.092158,0.196697,0.209038
8,frozenset({olive oil}),frozenset({spaghetti}),0.065858,0.174110,0.022930,0.348178,1.999758,1.0,0.011464,1.267048,0.535186,0.105651,0.210764,0.239939
9,frozenset({red wine}),frozenset({spaghetti}),0.028130,0.174110,0.010265,0.364929,2.095966,1.0,0.005368,1.300468,0.538028,0.053472,0.231046,0.211944
10,frozenset({salmon}),frozenset({spaghetti}),0.042528,0.174110,0.013465,0.316614,1.818472,1.0,0.006060,1.208527,0.470079,0.066273,0.172546,0.196975
11,frozenset({tomatoes}),frozenset({spaghetti}),0.068391,0.174110,0.020931,0.306043,1.757755,1.0,0.009023,1.190117,0.462740,0.094465,0.159746,0.213129
12,"frozenset({chocolate, eggs})",frozenset({spaghetti}),0.033196,0.174110,0.010532,0.317269,1.822232,1.0,0.004752,1.209686,0.466715,0.053523,0.173339,0.188880
13,"frozenset({milk, chocolate})",frozenset({spaghetti}),0.032129,0.174110,0.010932,0.340249,1.954217,1.0,0.005338,1.251821,0.504495,0.055973,0.201163,0.201518
14,"frozenset({milk, spaghetti})",frozenset({chocolate}),0.035462,0.163845,0.010932,0.308271,1.881480,1.0,0.005122,1.208790,0.485728,0.058033,0.172726,0.187496